In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'amazon_alexa.tsv' , delimiter = '\t')

In [3]:
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [4]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [5]:
corpus = []

for i in range(0,3150):
    review = re.sub('[^a-zA-Z]' , ' ' , df['verified_reviews'][i])
    review = review.lower()
    review = review.split()
    ps =  PorterStemmer()
    review = [ps.stem(word)for word in review if word not in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [9]:
tf = TfidfVectorizer(max_features = 2500)
x = tf.fit_transform(corpus).toarray()
y = df.iloc[:  , 4].values

In [10]:
x.shape ,y.shape

((3150, 2500), (3150,))

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
X_Train , X_Test , Y_Train ,Y_Test = train_test_split(x,y,test_size = 0.2, random_state = 15)

# Naive Bayes Classidfier

In [14]:
from sklearn.naive_bayes import GaussianNB

In [15]:
model = GaussianNB()
model.fit(X_Train , Y_Train)

y_pred = model.predict(X_Test)

In [16]:
model.score(X_Test , Y_Test)

0.5746031746031746

# SVM

In [18]:
from sklearn.svm import SVC

In [19]:
model = SVC()
model.fit(X_Train , Y_Train)

y_pred = model.predict(X_Test)

In [20]:
model.score(X_Test , Y_Test)

0.9238095238095239